/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
a:link {
  text-decoration: none;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body {
  font-family: 'Alata', sans-serif;
}
.container {
  display:flex;
  width: 100%;
}
.topnav {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  background-color: rgb(39, 35, 35);
  width: 100%;
  opacity: 97%;
}
.lnav {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.nav-logo {
  color:white;
  font-size: 24px;
}

.search {
  flex-basis: auto;
  margin: auto;
  padding: 0;
}
.topnav input {
  background-color: rgb(22, 20, 20);
  color: white;
  width: 500px;
  height: 25px;
  border: none;
}
.fa-search {
  height: 20px;
  width: 45px;
  color: rgb(126, 115, 115);
}
i:hover {
  cursor: pointer;
}

.icons {margin-right: 15px;display: inline;}
.icons i {
  display: inline;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 1.5em;
}
.iframe-container {
  position: relative;
  width: 100%;
  height: 500px;
  padding: 0;
  margin: 0;
  margin-top: 70px;
}
.iframe-container iframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.social {
  flex-direction: column;
  height: 500px;
}
.info {
  margin-left: 30px;
  margin-top: 15px;
  border-bottom: 1px solid rgb(230, 226, 226);
  margin-bottom: 20px;
  height: 80px;
  width: 95%;
  padding-bottom: 20px;
}
.info h2 {
  font-size: 20px;
}
.views{
  color: rgb(155, 140, 140);
}
.info .fa {
  margin: 0px 10px 0px 10px;
  float: right;
  font-size: .9em;
  color: rgb(155, 140, 140);
}
.comments {
  display:flex;
  flex-direction: column;
  margin-left: 30px;
  width: 95%;
  height: 900px;
}
.comment {
  margin: 20px 10px 15px 10px;
}
.comment-author {
  display: flex;
  flex-direction: row;
  height: 30px;
}
.comment-author .fa-ellipsis-v {
  display: none;
  order: 2;
  margin-left: auto;
}
.comment:hover .fa-ellipsis-v {
  display: flex;
  color: rgb(155, 140, 140);
  margin-left: 400px;
}
.author-name {
  flex-direction: column;
  font-weight: bolder;
  color: black;
}
.comment-time {
  margin-left: 5px;
  color: rgb(155, 140, 140);
}
.comment-body {
  margin-left: 50px;
}
.comment-body p {
  font-weight: lighter;
  margin-top: 0;
}
.interactions {margin-left: 50px}
.interactions .fa{
  color: rgb(155, 140, 140);
  font-size: .9em;
  margin-left: 10px;
}
.view-replies {
  margin-left: 50px;
  margin-top: 15px;
}
.reply-button {
  margin-left: 10px;
  border: none;
  background-color: white;
  color: rgb(155, 140, 140);
}
.reply:hover {
  cursor: pointer;
}
.avatar {
  width: 50px;
  height: 50px;
}
.suggested {
  background-color: purple;
  width: 30%;
  height: auto;
}

